.azul{
    background-color: #5b76c3;
}
.page-footer{
    background-color: #5b76c3;
}
body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
  .topo{
      margin-bottom: 80px;
  }
  .input-field label {
    color: #000;
  }
 #logo{
    max-width:200px;
    max-height:58px;
    width: auto;
    height: auto;
    padding-top: 4px;
    padding-bottom: 2px;
 }
 .borda{
     border-left-width: 2px;
     border-left-color: black;
     border-left-style: solid;
     padding-left: 2px;
 }